img {
    width: 280px;
    height: 300px;

}

.items {
    display: flex;
    justify-content: space-around;
    padding: 0px 100px 0px 100px;
    flex-wrap: wrap;
}

.item {
    border-radius: 20px;
    box-shadow: 7px 1px 7px lightgrey;
    width: 300px;
    position: relative;
    
    margin-bottom: 50px;
    background-color:#f0f0f0;
}

img {
    border-radius: 20px 20px 0px 0px;
}

.info {
    padding: 10px;
    a {
        text-decoration: none;
        color: black;
        font-size: 100px;
    }
    
    .info-bar {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: darkgrey;
    }
}

